# Kata Módulo 04

## Ejercicio 1: Transformar cadenas
Definición del texto base

In [1]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

Se divide el texto en cada oración

In [ ]:
oraciones = text.split('. ')
oraciones

Se definen las palabras claves de búsqueda

In [4]:
palabras = ["average", "temperature", "distance"]

Búsqueda de las palabras clave en las oraciones

In [ ]:
# Ciclo para recorrer palabras clave
for palabra in palabras:
    # Ciclo para recorrer lista de oraciones
    for oracion in oraciones:
        if(palabra.lower() in oracion.lower()):
            print(oracion)
            break

Ciclo para cambiar C a Celsius:

In [ ]:
# Ciclo para recorrer palabras clave
for palabra in palabras:
    # Ciclo para recorrer lista de oraciones
    for oracion in oraciones:
        if(palabra.lower() in oracion.lower()):
            print(oracion.replace('C', 'Celsius'))
            break

## Ejercicio 2: Formateando Cadenas
Se realiza la representación de los datos en forma tabular

In [1]:
# Definición de datos a utilizar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

Se crea una cadena para el título

In [ ]:
titulo = "Datos de la gravedad en {}".format(name)

print(titulo)

Plantilla para representar los datos

In [ ]:
datos = """
{}
Nombre del planeta: {}
Gravedad en {}: {} m/s2
""".format('-'*70, planet, name, gravity*1000)

print(datos)

Unión de variables para representar información completa

In [ ]:
tabla = "{} {}".format(titulo.title(), datos)

print(tabla)

Nuevos datos de muestra

In [12]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [ ]:
# Se comprueba el funcionamiento de la plantilla
print(tabla)

Debido a que los datos anteriores son erróneos, se define una nueva plantilla

In [ ]:
# Definición de nueva platilla
plantilla = """
Datos de la gravedad en {luna}
----------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {luna}: {gravedad} m/s2
"""

# Comprobación de la plantilla
print(plantilla.format(luna=nombre, planeta=planeta, gravedad=gravedad*1000))